* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

    background-color: #88aadd;
    margin: 0;
    padding: 30px, 30px;
    position: sticky;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body {
    background-color: #f8fafc;
    color: #333333;
    line-height: 1.6;
    overflow-x: hidden;
}

.contenedor {
    text-align: center;
}

#tablero {
    display: grid;
    gap: 2px;
    margin: 20px auto;
}

.fila {
    display: flex;
    justify-content: center;
}

.celda {
    width: 50px;
    height: 50px;
    border: 1px solid #333333;
    margin: 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(136, 170, 221, 0.8)
            /* Sombra con el color #88AADD */,
        4px 4px 8px rgba(255, 255, 255, 0.5);
    /* Sombra con el color #FFFFFF */
}

.celda.filled {
    border: 2px solid #565758;
}

.celda.correct {
    background-color: #6aaa64;
}

.celda.present {
    background-color: #c9b458;
}

.celda.absent {
    background-color: #3a3a3c;
}

/* TECLADO */
.teclado-contenedor {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.teclado-fila {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.tecla {
    width: 40px;
    height: 50px;
    margin: 2px;
    background-color: #d3d6da;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tecla:active {
    background-color: #bbbbbb;
}

.tecla.ancha {
    width: 63px;
}

.tecla:hover {
    background-color: #88aadd;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #88aadd;
    color: #000000;
    font-size: 0.9rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p {
    font-size: 0.9rem;
}
